[defaults]
inventory	= invenrory
remote_tmp     = $HOME/.ansible/tmp
pattern        = *
forks          = 20
poll_interval  = 15
#sudo_user      = root
#ask_sudo_pass = True
#ask_pass      = True
transport      = smart
remote_port    = 22
roles_path    = ./roles
host_key_checking = False
sudo_exe = sudo
timeout = 10
remote_user = mktmgr
ansible_managed = Ansible managed: {file} modified on %Y-%m-%d %H:%M:%S by {uid} on {host}
action_plugins     = /usr/share/ansible_plugins/action_plugins
callback_plugins   = /usr/share/ansible_plugins/callback_plugins
connection_plugins = /usr/share/ansible_plugins/connection_plugins
lookup_plugins     = /usr/share/ansible_plugins/lookup_plugins
vars_plugins       = /usr/share/ansible_plugins/vars_plugins
filter_plugins     = /usr/share/ansible_plugins/filter_plugins
etcd_url = 'http://127.0.0.1:4001'
retry_files_save_path = ~/ansible/.ansible-retry

[accelerate]
accelerate_port = 5099
accelerate_timeout = 30
accelerate_connect_timeout = 5.0
