:if ([/user find name={{mkt_user_name}}] ="") do={ :log info "User {{mkt_user_name}} not found... Add it"}
:if ([/user find name={{mkt_user_name}}] ="") do={/file print file=ansible_key.txt; :delay 2; /file set ansible_key.txt contents="{{mkt_user_key}}";}
:if ([/user find name={{mkt_user_name}}] ="") do={/user add name={{mkt_user_name}} group=full password="{{random_passwd.stdout}}"; :delay 2; /user ssh-keys import user={{mkt_user_name}} public-key-file=ansible_key.txt}
